<div class="item background-image" style="background-image:url({{imgSrc}})">
    <div class="container">
        <div class="carousel-caption">
            <h1>{{title}}</h1>
            <p>{{subTitle}}</p>
            <h3>
                <a class="btn btn-lg btn-default"  data-role="cta" data-info = {{ctaInfo}} role="button">{{ctaText}}</a>
            </h3>
        </div>
    </div>
</div>
