<div class="item">
    <img class="first-slide"
         src="{{imgSrc}}"
         alt="Some image">
    <div class="container">
        <div class="carousel-caption">
            <h1>{{title}}</h1>
            <p>{{subTitle}}</p>
            <h3>
                <a class="btn btn-lg btn-default"  data-role="cta" data-info = {{ctaInfo}} role="button">{{ctaText}}</a>
            </h3>
        </div>
    </div>
</div>
